body{
	color:#383838;
	font-size: 16px;
	margin:0;
}
li{
	list-style: none;
}
.container{
	width:900px;
	padding: 0;
	@include sp{
	width:100%;
	padding-right: 10px;
	padding-left: 10px;
	box-sizing:border-box;
	}
}
.flexbox{
	display:flex;
	justify-content: space-between;
	@include sp{
		display: block;
	}
}
.top__ttl{
		font-size: 24px;
		font-weight: bold;
		border-bottom: 2px solid;
		text-align: center;;
		margin-right: auto;
		margin-left: auto;
		width:110px;
		padding-bottom: 10px;
		margin-bottom: 30px;
}