.blog{
	padding-bottom: 70px;

	&__img{

	}
	&__img img{
		width:200px;
		height:150px;
		@include sp{
			width:100%;
		}

	}
	&__box{
		width:210px;
		margin-right: 10px;
		margin-bottom: 20px;
		@include sp{
			width:50%;
		}
	}
	&__box:last-of-type{
		margin-right: 0;
	}
	&__box{ 
		a{
		display: block;
		color:gray;
		@include sp{
			width:100%;
		}
	}
	&--date{
		margin-top: 10px;
		font-size: 14px;
	}
	&--ttl{
		margin-top: 10px;
		font-size: 17px;
	}
}
}
