.event{
	@include sp{
		width:100%;
	}
	padding-bottom: 70px;
	&__box img{
		width: 250px;
		height:140px;
	@include sp{
		text-align: center;
	}
	}

	&__box{
		margin-right: 20px;
		@include sp{
		width:100%;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 30px;
		text-align: center;;
		}
		&--ttl{
			margin-top: 20px;
			font-size: 14px;
@include sp{
			margin-top: 10px;
		}
		}
		&--ttl a{
			display: block;
			color:gray;
		}
	}
	&__box:last-of-type{
		margin-right: 0;
		margin-bottom: 0;
	}
}
