.humburger{
	&--open{
			display: none;
		padding-top: 70px;
		&--li{
			a{
				display: block;
				color:#383838;
				padding-top: 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid;
				text-align: center;
				text-decoration: none;
				width:100%;
				background: #ffffff;
			}
			a:hover{
				background-color: #4b756e;
				color:#fff;
			}
		}
	}
}