.news{
	padding-top: 70px;
	padding-bottom:70px;
	@include sp{
		width: 100%;
		}
	&__article{
		display: flex;
		margin-bottom: 10px;
		border-bottom: 1px solid;
		padding-bottom: 15px;
		margin-bottom: 20px;
	}
	&__date{
		font-size: 14px;
	}
	&__txt{
		margin-left: 50px;
		font-size: 14px;
		a{
			color:gray;
			text-decoration: none;
		}
	}
}